@{
    Layout = "_ColumnsOne";

    //page class
    Html.AppendPageCssClassParts("html-home-page");
}
<div class="page home-page">
    <div class="page-body">
        <iframe src="https://embed.restream.io/player/index.html?token=1aad2b8d7cc004b2cb5ce30435cd44b9" 
            width="960" height="576" 
            frameborder="0" allowfullscreen>
        </iframe>
        <p>Powered by <a href="https://restream.io">Restream.io</a></p>
        <div style="text-align: center;">
            <a href="/videos/k9viXaIfiWj" style="padding: 1em; background-color:#eee; font-size: 120%;">Заказать товар</a>
        </div>
    </div>
</div>
